.home{ 
    padding-top: 60px;
    overflow-x: hidden;
    max-width: 100vw;
}


/* -----------------
Header page 
------------------*/
.home .bg_image{
    background-image: url(../img/bg_header.webp);
    background-size: cover;
    background-position: center -3px;
    min-height: calc(100vh - 60px);
    width: 100%;
}

.home .bg_image .container{
    min-height: calc(100vh - 60px);
    display: flex;
    padding: 0;
    position: relative;
}

.text_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 100%;
}

.container_header{
    width: 50%;
    animation-duration: 2s;
    animation-name: apparitionTexte;
}

.container_header .subtitle{
    font-family: 'Alex Brush';
    color: #FC4E54;
    transform: rotate(-15deg);
    display: inline-block;
    margin-top: 2rem;
    font-size: 2.2rem;
}

.container_header .Primary_title{
    font-family: "Cargo";
    font-size: 5rem;
    font-weight: normal;
    text-transform: uppercase;
}

.btn{
    padding: .5rem 1.5rem;
    border: 1px solid #FC4E54;
    font-weight: bold;
    display: inline-block;
}

.container_header .btn{
    text-transform: uppercase;
    margin: 2rem 0;
    display: inline-block;
}

.container-icon{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.icon{
    display: flex;
    align-items: center;
}


.icon_reseau{
    color: white !important;
    margin: 0 .3rem;
    width: 2rem;
}

.scroll-downs {
    position: absolute;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: auto;  
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 8px 12px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 8px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(10px); opacity: 0;}
}

@keyframes apparitionTexte {
    0% { transform: translateY(-200px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1;}
}



/* ---------------------
Section presentation
----------------------*/
.titre_section{
    height: 13vw;
    display: flex;
    align-items: center;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(50vw);
    transition-duration: 1s;
}

.titre_section.visible{
    transform: translateX(0);
    opacity: 1;
    transition-duration: 1s;
}

.text_deco{
    position: absolute;
    font-size: 11vw;
    font-family: "cargo";
    color: #F2F2F2;
    overflow: none;
    text-transform: uppercase;

}

.titre_2{
    color: #FC4E54;
    font-size: 4rem;
    font-family: "cargo";
    font-weight: normal;
    z-index: 10;
    text-transform: uppercase;
}

.contenu_pres{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.contenu_pres p{
  font-size: 0.9rem;
  color: black;
  padding-right: 2rem;  
  flex-basis: 40%;
}

.contenu_pres img{
    transform: rotate(-10deg);
    width: auto;
    margin: auto;
    max-height: 250px;
    max-width: 90%;
}

.lien_section{
    padding-top: 60px;
}

/* ---------------------
Section Compétences
----------------------*/

.block_dark{
    background-color: #212121;
}

.block_dark .text_deco{
    color: #2D2D2D;
}

.contenu_competences{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8rem;
    margin-top: 3rem;
}

.contenu_competences .competence{
    margin: 5rem 0rem;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(-60px);
    transition-duration: 1s;
}

.contenu_competences .competence .carte{
    background-color: #2D2D2D;
    border-radius: 0 0 20px 20px;
    margin: 0rem 2rem;
    padding: 0rem 1rem;
    max-width: 300px;
    width: 100%;
}

.contenu_competences .carte .icon_competence{
    width: 50%;
    height: auto;
    transform: translateY(-50%);
    margin: auto;
}

.contenu_competences .carte .titre_carte{
    transform: translateY(-10px);
    font-family: "Cargo";
    font-size: 1rem;
    text-align: left;
}

.contenu_competences .carte .niveau{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.niveau .v-progress-circular__underlay{
    stroke: white;
}

.contenu_competences.visible .competence{
    opacity: 1;
    transform: translateY(0);
    transition-duration: 1s;
}



/* ---------------------
Section Projet
----------------------*/

.contenu_projet{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.contenu_projet .projet{
    margin: 3.2rem 0rem;
    flex-basis: 25%;
    text-align: center;
    position: relative;
}

.contenu_projet .projet .img_projet{
    position: relative;
    width: 80%;
    margin: auto;
}

.contenu_projet .projet  .detail_projet{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.25s;

}

.contenu_projet .projet  .detail_projet:hover{
    opacity: 1;
    background-color: #fc4e54de;
    transition-duration: 0.25s;
}

.contenu_projet .projet h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.contenu_projet .projet .voir_projet{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ---------------------
Section contact
----------------------*/
.container_form{
    display: flex;
    flex-wrap:wrap;
}

.container_form > div{
    width: 50%;
}

.form_contact div{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form_contact label{
    display: block;
}

.form_contact input{
    width: 60%;
    height: 30px;
    background-color: #D5D5D5;
}

.form_contact textarea{
    width: 60%;
    min-height: 100px;
    background-color: #D5D5D5;
}

.form_contact input[type='submit']{
    background-color: #FC4E54;
    color:white;
    height: 35px;
}

.container_form h3, .container_form p{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container_form h3{
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.container_form hr{
    width: 80px;
}

.container_form .container-icon{
    justify-content: flex-start;
}

@media (max-width: 1350px){
    .container_header{
        margin-left: 0.5rem;
    }

    .contenu_pres p{
        flex-basis: 100%;
        margin-bottom: 3.5rem;
    }

    .contenu_competences .competence{
        width: 50%;

    }

    .contenu_projet .projet{
        flex-basis: 50%;
    }
}

@media (max-width: 768px){
    .container_header{
        width: auto;
        margin-left: 0.5rem;
    }

    .container_header .Primary_title{
        font-size: 3rem;
    }

    .titre_2{
        font-size: 2rem;
    }

    .text_deco{
        font-size: 13vw;
    }

    .contenu_projet .projet{
        flex-basis: 100%;
    }

    .container_form > div{
        flex-basis: 100%;
    }

    .form_contact input, .form_contact textarea{
        width: 100%;
    }
}

@media (max-width: 550px){
    .contenu_competences .competence{
        width: 100%;
    }
}